<!DOCTYPE html><html lang="es">
<head><%- include('partials/head', {title:'Acceso denegado'}) %></head>
<body class="error-bg">
<div class="error-container center-align">
  <i class="material-icons error-icon red-text">block</i>
  <h2 class="red-text">403</h2>
  <h5>Acceso denegado</h5>
  <p class="grey-text">No tienes permisos suficientes para acceder a esta página.</p>
  <a href="javascript:history.back()" class="btn waves-effect">Volver</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body></html>